# This is the common PyLith configuration file for the ALS example.
# It specifies parameters common to all simulations in this directory.

[pylithapp.metadata]
# Metadata common to all simulations in this directory
keywords = [example, 2D, ALS]
features = [
    Triangular cells,
    pylith.meshio.MeshIOPetsc,
    pylith.problems.TimeDependent,
    pylith.materials.Elasticity,
    pylith.materials.IsotropicLinearElasticity,
    spatialdata.spatialdb.UniformDB,
    pylith.meshio.DataWriterHDF5
    ]

# ----------------------------------------------------------------------
# journal
# ----------------------------------------------------------------------
# Turn on some journals to show progress during the simulation.
[pylithapp.journal.info]
pylithapp = 1
timedependent = 1
solution = 1
meshiopetsc = 1
petscoptions = 1

# ----------------------------------------------------------------------
# mesh_generator
# ----------------------------------------------------------------------
[pylithapp.mesh_generator]
# Use PetscMesh reader for Gmsh files
reader = pylith.meshio.MeshIOPetsc

# Set the filename and the dimension of the Cartesian coordinate system.
reader.filename = mesh_tri.msh
reader.coordsys.space_dim = 2

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
[pylithapp.problem]
# Set the length scale for nondimensionalization based on domain size (~20 km)
scales.length_scale = 20.0*km

# Use quadrature order 1 for efficiency
defaults.quadrature_order = 1

# ----------------------------------------------------------------------
# materials
# ----------------------------------------------------------------------
[pylithapp.problem]
# Create an array of one material
materials = [elastic]

# Use the default material (elasticity) and rheology (isotropic, linearly elastic)
[pylithapp.problem.materials.elastic]
# label_value must match the material tag in the mesh (1)
label_value = 1

# Use uniform material properties
db_auxiliary_field = spatialdata.spatialdb.UniformDB
db_auxiliary_field.description = Elastic properties
db_auxiliary_field.values = [density, vs, vp]
db_auxiliary_field.data = [2500*kg/m**3, 3.0*km/s, 5.0*km/s]

# Set the discretization of the material auxiliary fields (properties).
# We have uniform material properties, so we can use a basis order of 0.
auxiliary_subfields.density.basis_order = 0
bulk_rheology.auxiliary_subfields.bulk_modulus.basis_order = 0
bulk_rheology.auxiliary_subfields.shear_modulus.basis_order = 0


# End of file
