# Configuration for step01: axial displacement
#
# This simulation applies axial extension boundary conditions:
#   boundary_yneg: Uy = 0 (fixed y-displacement at base)
#   boundary_xneg: Ux = 0 (fixed x-displacement on west boundary)
#   boundary_xpos: Ux = 1.0 m (applied x-displacement on east boundary)

[pylithapp.metadata]
#  y
#  ^
#  |
#   --> x
#
#         --------------------
#         |                  |
# Ux=0    |    Elastic       | Ux=+1.0 m
#         |    Material      |
#         |                  |
#         --------------------
#              Uy=0
#
# Dirichlet boundary conditions:
#   boundary_yneg: Uy = 0
#   boundary_xneg: Ux = 0
#   boundary_xpos: Ux = 1.0 m
#
base = [pylithapp.cfg]
description = Axial extension using Dirichlet boundary conditions.
authors = [PyLith Example]
keywords = [axial extension]
arguments = [step01_axialdisp.cfg]
version = 1.0.0
pylith_version = [>=3.0, <6.0]

features = [
    Static simulation,
    LU preconditioner,
    pylith.bc.DirichletTimeDependent,
    spatialdata.spatialdb.ZeroDB,
    spatialdata.spatialdb.UniformDB
    ]


# ----------------------------------------------------------------------
# output
# ----------------------------------------------------------------------
[pylithapp.problem]
# Set the name of the problem for output filenames
defaults.name = step01_axialdisp

# ----------------------------------------------------------------------
# boundary conditions
# ----------------------------------------------------------------------
[pylithapp.problem]
# We have three Dirichlet boundary conditions
bc = [bc_xneg, bc_xpos, bc_yneg]
bc.bc_xneg = pylith.bc.DirichletTimeDependent
bc.bc_xpos = pylith.bc.DirichletTimeDependent
bc.bc_yneg = pylith.bc.DirichletTimeDependent

# For each boundary condition, `label` must match the name of the group
# of vertices in the mesh file.

[pylithapp.problem.bc.bc_xpos]
# Set Ux=+1.0 m on the +x (east) boundary.
# Degree of freedom (dof) 0 corresponds to x displacement.
constrained_dof = [0]
label = boundary_xpos
label_value = 11

# The spatial database must contain both components even though we do
# not constrain the y component.
db_auxiliary_field = spatialdata.spatialdb.UniformDB
db_auxiliary_field.description = Dirichlet BC on +x boundary
db_auxiliary_field.values = [initial_amplitude_x, initial_amplitude_y]
db_auxiliary_field.data = [+1.0*m, 0*m]


[pylithapp.problem.bc.bc_xneg]
# Set Ux=0 on the -x (west) boundary.
# Degree of freedom (dof) 0 corresponds to x displacement.
constrained_dof = [0]
label = boundary_xneg
label_value = 10

# Because the displacement is zero, we can use the `ZeroDB` spatial database
db_auxiliary_field = pylith.bc.ZeroDB
db_auxiliary_field.description = Dirichlet BC on -x boundary


[pylithapp.problem.bc.bc_yneg]
# Set Uy=0 on the -y (south) boundary.
# Degree of freedom (dof) 1 corresponds to y displacement.
constrained_dof = [1]
label = boundary_yneg
label_value = 12

# Because the displacement is zero, we can use the `ZeroDB` spatial database
db_auxiliary_field = pylith.bc.ZeroDB
db_auxiliary_field.description = Dirichlet BC on -y boundary


# End of file
