[pylithapp.metadata]
# This is not a self-contained simulation configuration file. This
# file only specifies the general parameters common to the simulations
# in this directory.
keywords = [example, 2D, strike slip, poroelastic]
features = [
    Triangular cells,
    pylith.meshio.MeshIOPetsc,
    pylith.problems.TimeDependent,
    pylith.materials.Poroelasticity,
    pylith.materials.IsotropicLinearPoroelasticity,
    pylith.faults.FaultCohesiveKinPoro,
    pylith.faults.KinSrcStepPoro,
    field split preconditioner,
    Schur complement preconditioner,
    pylith.bc.DirichletTimeDependent,
    spatialdata.spatialdb.UniformDB,
    pylith.meshio.OutputSolnBoundary,
    pylith.meshio.DataWriterHDF5
    ]

# ----------------------------------------------------------------------
# journal
# ----------------------------------------------------------------------
[pylithapp.journal.info]
timedependent = 1
solution = 1
meshiocubit = 1
isotropiclinearporoelasticity = 1
dirichlettimedependent = 1
faultcohesivekinporo = 1

# ----------------------------------------------------------------------
# mesh_generator
# ----------------------------------------------------------------------
[pylithapp.mesh_generator]
reader = pylith.meshio.MeshIOPetsc
reader.filename = mesh_tri.msh
reader.coordsys.space_dim = 2

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
[pylithapp.problem]
# Use nonlinear solver to ensure residual and Jacobian are consistent.
solver = nonlinear

# Set the default quadrature order for all subfields.
#
# IMPORTANT: The quadrature order *must* the same for all solution and
# auxiliary subfields. PyLith will verify that this requirement is met.
# This requirement may be relaxed in the future.
defaults.quadrature_order = 1

# Set the discretization for each of the solution subfields.
#
# For a quastistatic simulation with a fault, we have two solution fields:
# (1) displacement and (2) Lagrange multiplier. We use a predefined containter
# to create a solution field with these two subfields.
solution = pylith.problems.SolnDispPresTracStrainLagrange

[pylithapp.problem.solution.subfields]
displacement.basis_order = 2
pressure.basis_order = 1
lagrange_fault.basis_order = 1


[pylithapp.problem]
# We specify a time scale using a fake relaxation time that cooresponds
# to the time scale of the quasistatic simulations.
normalizer = spatialdata.units.NondimElasticQuasistatic
normalizer.length_scale = 1.0*m
normalizer.relaxation_time = 1.0*s
normalizer.shear_modulus = 1.0*m**-1*kg*s**-2

# [pylithapp.problem]
# solution_observers = [domain, top_boundary, bot_boundary]
# solution_observers.top_boundary = pylith.meshio.OutputSolnBoundary
# solution_observers.bot_boundary = pylith.meshio.OutputSolnBoundary

# [pylithapp.problem.solution_observers.top_boundary]
# label = boundary_ypos
# label_value = 23

# [pylithapp.problem.solution_observers.bot_boundary]
# label = boundary_yneg
# label_value = 24

# ----------------------------------------------------------------------
# materials
# ----------------------------------------------------------------------
# Create an array of three materials, matching the number of blocks we
# created in CUBIT/Trelis.
[pylithapp.problem]
materials = [poroelastic_yneg, poroelastic_ypos]
materials.poroelastic_yneg = pylith.materials.Poroelasticity
materials.poroelastic_ypos = pylith.materials.Poroelasticity

[pylithapp.problem.materials]
poroelastic_yneg.bulk_rheology = pylith.materials.IsotropicLinearPoroelasticity
poroelastic_ypos.bulk_rheology = pylith.materials.IsotropicLinearPoroelasticity

[pylithapp.problem.materials.poroelastic_yneg]
# label_value must match the block values in the Cubit Exodus file.
description = Material to on the -y side of the fault
# label = poroelastic_yneg
label_value = 1

# We will use uniform material properties, so we use the UniformDB spatial database.
db_auxiliary_field = spatialdata.spatialdb.UniformDB
db_auxiliary_field.description = Poroelastic properties
db_auxiliary_field.values = [solid_density, fluid_density, fluid_viscosity, porosity, shear_modulus, drained_bulk_modulus, biot_coefficient, fluid_bulk_modulus, solid_bulk_modulus, isotropic_permeability]
db_auxiliary_field.data   = [ 2500*kg/m**3,  1000*kg/m**3,      0.001*Pa*s,      0.1,        6e9*Pa,              10e9*Pa,              0.8,             2e9*Pa,          20.0e9*Pa,             1e-14*m**2]

auxiliary_subfields.body_force.basis_order = 0
auxiliary_subfields.solid_density.basis_order = 0
auxiliary_subfields.fluid_density.basis_order = 0
auxiliary_subfields.fluid_viscosity.basis_order = 0
auxiliary_subfields.gravitational_acceleration.basis_order = 0
auxiliary_subfields.porosity.basis_order = 0
derived_subfields.cauchy_strain.basis_order = 1
derived_subfields.cauchy_stress.basis_order = 1

[pylithapp.problem.materials.poroelastic_yneg.bulk_rheology]

auxiliary_subfields.drained_bulk_modulus.basis_order = 0
auxiliary_subfields.shear_modulus.basis_order = 0
auxiliary_subfields.biot_coefficient.basis_order = 0
auxiliary_subfields.biot_modulus.basis_order = 0
auxiliary_subfields.isotropic_permeability.basis_order = 0

[pylithapp.problem.materials.poroelastic_ypos]
description = Material to on the +y side of the fault
# label = poroelastic_ypos
label_value = 2

db_auxiliary_field = spatialdata.spatialdb.UniformDB
db_auxiliary_field.description = Poroelastic properties
db_auxiliary_field.values = [solid_density, fluid_density, fluid_viscosity, porosity, shear_modulus, drained_bulk_modulus, biot_coefficient, fluid_bulk_modulus, solid_bulk_modulus, isotropic_permeability]
db_auxiliary_field.data   = [ 2500*kg/m**3,  1000*kg/m**3,      0.001*Pa*s,      0.1,        6e9*Pa,              10e9*Pa,              0.8,             2e9*Pa,          20.0e9*Pa,             1e-14*m**2]

auxiliary_subfields.body_force.basis_order = 0
auxiliary_subfields.solid_density.basis_order = 0
auxiliary_subfields.fluid_density.basis_order = 0
auxiliary_subfields.fluid_viscosity.basis_order = 0
auxiliary_subfields.gravitational_acceleration.basis_order = 0
auxiliary_subfields.porosity.basis_order = 0
derived_subfields.cauchy_strain.basis_order = 1
derived_subfields.cauchy_stress.basis_order = 1

[pylithapp.problem.materials.poroelastic_ypos.bulk_rheology]

auxiliary_subfields.drained_bulk_modulus.basis_order = 0
auxiliary_subfields.shear_modulus.basis_order = 0
auxiliary_subfields.biot_coefficient.basis_order = 0
auxiliary_subfields.biot_modulus.basis_order = 0
auxiliary_subfields.isotropic_permeability.basis_order = 0

# ----------------------------------------------------------------------
# fault
# ----------------------------------------------------------------------
[pylithapp.problem]
interfaces = [fault]
interfaces.fault = pylith.faults.FaultCohesiveKinPoro

[pylithapp.problem.interfaces.fault]
# The `label` and `label_value` correspond to the name and tag of the
# physical group in the Gmsh Python script.
label = fault
label_value = 20

# We will use uniform material properties, so we use the UniformDB
# spatial database.
db_auxiliary_field = spatialdata.spatialdb.UniformDB
db_auxiliary_field.description = Poroelastic fault properties
db_auxiliary_field.values = [thickness, porosity,       beta_p, beta_sigma, fault_permeability_xx, fault_permeability_yy, fault_permeability_zz, fault_permeability_xy, fluid_viscosity]
db_auxiliary_field.data   = [ 0.002*m,     0.068,   1.0*Pa**-1, 1.0*Pa**-1,            1e-13*m**2,            1e-13*m**2,            1e-13*m**2,            1e-13*m**2,      0.001*Pa*s]
# observers.observer.field_filter.basis_order = 1
#observers.observer.data_fields = [slip, lagrange_fault]
#auxiliary_subfields.body_force.basis_order = 0


observers.observer.data_fields = [slip]

# ----------------------------------------------------------------------
# boundary conditions
# ----------------------------------------------------------------------
[pylithapp.problem]
bc = [bc_yneg, bc_ypos]
bc.bc_yneg = pylith.bc.DirichletTimeDependent
bc.bc_ypos = pylith.bc.DirichletTimeDependent


[pylithapp.problem.bc.bc_ypos]
# The `label` and `label_value` correspond to the name and tag of the
# physical group in the Gmsh Python script.
label = boundary_ypos
# label_value = 21
constrained_dof = [0, 1]
db_auxiliary_field = pylith.bc.ZeroDB
db_auxiliary_field.description = Dirichlet BC +y boundary


[pylithapp.problem.bc.bc_yneg]
label = boundary_yneg
# label_value = 22
constrained_dof = [0, 1]
db_auxiliary_field = pylith.bc.ZeroDB
db_auxiliary_field.description = Dirichlet BC -y boundary

# ----------------------------------------------------------------------
# PETSc
# ----------------------------------------------------------------------
[pylithapp.petsc]
ts_type = beuler

pc_type = fieldsplit
pc_use_amat = true
pc_fieldsplit_0_fields = 0,1
pc_fieldsplit_1_fields = 2,3,4
pc_fieldsplit_type = schur

pc_fieldsplit_schur_factorization_type = full
pc_fieldsplit_schur_precondition = full
pc_fieldsplit_schur_scale = 1.0

fieldsplit_0_ksp_type = gmres
fieldsplit_0_ksp_rtol = 1.0e-10
fieldsplit_0_pc_type  = lu
fieldsplit_1_ksp_type = gmres
fieldsplit_1_ksp_rtol = 1.0e-10
fieldsplit_1_pc_type  = svd

ksp_rtol = 1.0e-10
ksp_atol = 1.0e-12
ksp_max_it = 100
ksp_gmres_restart = 50
ksp_error_if_not_converged = true

snes_rtol = 1.0e-7
snes_atol = 1.0e-10
snes_error_if_not_converged = true

# Monitors for debugging
ts_monitor = true
ksp_monitor = true
ksp_converged_reason = true
snes_monitor = true
snes_converged_reason = true
snes_linesearch_monitor = true

ksp_view = true
snes_view = true
#Tests
#snes_test_jacobian = true
snes_fd = true
# End of file
